:root {
  --borderline: solid 2px red;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}
body,
.container > *,
.left > *,
.stat-container > *,
.middle > *,
.right > *,
.score-container > *,
.next-piece-container > *,
.level-container > * {
  border: var(--borderline);
}

body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.container {
  display: grid;
  width: 75vw;
  height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
}
.left,
.middle,
.right {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: inherit;
}

.right {
  position: relative;
}

.score-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.next-piece-container {
  text-align: center;
}

.level-container {
  text-align: center;
}

.play {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
  bottom: 0;
  position: absolute;
  width: 100%;
}
